protobuf
transformers==4.27.1
cpm_kernels
torch>=1.10
torchvision
mdtex2html
sentencepiece
accelerate
cn2an
Cython
ffmpeg
jamo
jieba
librosa
matplotlib
numpy
phonemizer
pypinyin
scipy
tensorboard
Unidecode